/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
#fileStructure{
  width: 30%;
  height: auto;
}

ul {
  list-style-type: none; /* Removes default list styling */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  text-align: right; /* Aligns content to the right */
}

ul li {
  display: inline; /* Displays list items in a line */
}
